@font-face {
    font-family: Normal;
    src: url(./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Normal, sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 100px;
    width: 100%;
    background: black;
    opacity: .8;
    position: sticky;
    top: 0;

}

nav {
    line-height: 100px;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    margin: 0 1px;
    padding: 40px 10px;
    color: white;
    text-transform: uppercase;

}

nav a:hover {
    color: yellow;
}

section {
    width: 100%;
    height: 100vh;

}

section.banner-area {
    background: url(IMG_3979.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    width: 100%;
    height: 600px;
    position: relative;
    top: 0;
}


.banner-area h1 {
    font-family: Normal, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
}