* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

body {
    background-color: #262624;
}

nav {
    display: block;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #BFA98E;
    padding: 20px;
    border: 1px solid #D9D0C7;
    border-radius: 10%;
    margin: 40px;
    font-size: 30px;
    font-family: "Antic Didone", serif;
}

.nav-bar ul li a:hover {
    color: #A78876;
}

h1 {
    color: #D9D0C7;
    text-align: center;
    font-family: "Antic Didone", serif;
    font-size: 100px;
    font-weight: 100px;
    text-transform: uppercase;
    margin-top: 220px;
}

p {
    color: #A78876;
    text-align: center;
    font-family: "Homemade Apple", cursive;
    font-size: 24px;
    word-spacing: 2px;
}

@media only screen and (max-width: 1320px) {

    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {

    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #D9D0C7;
        margin: 6px 0;
    }

    .nav-bar {
        height: 450px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vm;
        background: #262624;
        transition: 0.2s;

    }
}